@page
@model _10316317POE_Part1.Pages.About_UsModel
@{

    <h1 class="display-4">About Us</h1>

    <hr></hr>

<p>At KhumaloCraft we strive to connect millions of like minded individuals seamelessly with the help of this webservice.
Proving as a means to communicate , purchase and interact with each other in an online platform.</p>

<hr></hr>
    <img length="30%" width="50%" src="images/About.jpg" alt="Hand Sculpted Horse(Wood)">

}
