@page
@model _10316317POE_Part1.Pages.Contact_UsModel
@{

    <h1> Contact Us Via:</h1>

    <body>
        Telephone Number : 0717754481
        <br></br>Email : KhumaloCrafts@Gmail.com
        <br></br>Contact Hours : 8 AM - 5PM
    </body>

}
