@page
@model IndexModel
@{
    ViewData["Title"] = "KhumaloCraft Emporium";
}


<h1 class="display-4">KhumaloCraft Emporium</h1>

<hr></hr>

    <p>A web service designed to connect artisans worldwide with customers who appreciate handmade products.To acieve this they needed a moders solution which has now become this webpage for broswing , enteracting with other artisans and purchasing artworks.</p>
   <img src="images/Horse.jpg" alt="Hand Sculpted Horse(Wood)" >

  
