@page
@model _10316317POE_Part1.Pages.MyWorkModel
@{
    <h1>My Art Work For Sale </h1>
    <h1> <marquee>Now For Sale</marquee></h1>

   
    <hr></hr>
    <p>Artwork done by myself and prices for sale.</p>
    <hr></hr>
    
    <img  length ="10%"src="images/Hand.jpg" alt="Hand Sculpted Hand(Wood)">
    <h3>R8000 -</h3>
    <p> A captivating handmade sculpture of a hand, meticulously crafted with intricate details that draw the viewer's gaze. This sculpture exudes elegance and sophistication, showcasing the skill and artistry of the artisan. Each curve and contour of the hand is expertly sculpted, capturing the graceful movements and delicate nuances of human anatomy. The surface of the sculpture is smooth and polished, inviting tactile exploration and evoking a sense of fulfilment</p>
    <hr></hr>
    <img length="17%" width="23%"src="images/Soccer.jpg" alt="Hand Sculpted Soccer Player(Wood)">
    <h3>R5500 - </h3><p>A piece of handsome oak wood made by me (James )during my days of youth.Symbolises a keen love for football.</p>
    <hr></hr>
    <img length="20%" width="25%" src="images/Flower.jpg" alt="Hand Sculpted ArtPiece(Wood)">
    <h3>R12500 -</h3><p> A captivating hand crafted beauty made from treated birch wood.Symbolises new beginings and oppertunities. </p>
}
